.main{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.product{
    border: 1px solid red;
}
.product h4{
    margin-left: 60px;
}
.product h3{
    margin-left: 60px;
}
.product img{
    width: 230px
}
.product p{
    align-items: center;
}